.container {
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-between;
  background-color: teal;
  align-items: center;
  width: 90vw;
  row-gap: 10px;
  padding: 10px;
}

.box{
    height: 100px;
    width: 100px;
    border: 10px solid rgb(76, 209, 160);
    display: flex;
   background-color: white;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
}

.rounded-box {
  border-radius: 50%;
  background-color: yellow;
}